body {
	--faceletSize: 120px;
	--faceletBorder: 4px;
	--borderRadius: 20px;
	--transition: 0.3s;

	--cube-width: 256px;
	--translateZ: 128px;
	--td-background-color: #0089d9;
}

body {
	background-color: #000000;
	margin: 0px;
}

.cube-container {
	perspective: 1000px;
	width: var(--cube-width);
	height: var(--cube-width);
	transform-style: preserve-3d;
	margin-left: auto;
	margin-right: auto;
}

.cube {
	width: var(--cube-width);
	height: var(--cube-width);
	transform-style: preserve-3d;}

.cube-container .cube-face {
	width: var(--cube-width);
	height: var(--cube-width);
	position: absolute;
	font-size: 30px;
	background: yellow;
	color: #000;
	font-weight: bold;
	display: flex;
	background: #000000;
}

.cube-container .front {
  transform: translateZ(var(--translateZ));
}

.cube-container .back {
  transform: rotateY(180deg) translateZ(var(--translateZ));
}

.cube-container .left {
  transform: rotateY(-90deg) translateZ(var(--translateZ));
}

.cube-container .right {
  transform: rotateY(90deg) translateZ(var(--translateZ));
}

.cube-container .top {
  transform: rotateX(90deg) translateZ(var(--translateZ));
}

.cube-container .bottom {
  transform: rotateX(-90deg) translateZ(var(--translateZ));
}


.firstContainer {
	display: flex;
	height: calc((var(--faceletSize) + var(--faceletBorder)*2)*4);
	width: calc((var(--faceletSize) + var(--faceletBorder)*2)*4);
	align-items: center;
	justify-content: center;
	aspect-ratio: 1/1;
	margin-left: auto;
	margin-right: auto;
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}


.secondContainer {
	display: flex;
	height: calc((var(--faceletSize) + var(--faceletBorder)*2)*6);
	width: calc((var(--faceletSize) + var(--faceletBorder)*2)*8);
	flex-wrap: wrap;
	align-content: flex-start;
	aspect-ratio: (calc((var(--faceletSize) + var(--faceletBorder)*2)*8))   /   (calc((var(--faceletSize) + var(--faceletBorder)*2 )*6));
	margin-left: auto;
	margin-right: auto;
	user-drag: none;
	-webkit-user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

#space {
	height: 20px;
}


.faceRed {
	display: flex;
	height: calc((var(--faceletSize) + var(--faceletBorder)*2)*2);
	width: calc((var(--faceletSize) + var(--faceletBorder)*2)*2);
	flex-wrap: wrap;
	align-content: flex-start;
	aspect-ratio: 1/1;
}

.faceletRed {
	width: var(--faceletSize);
	height: var(--faceletSize);
	border: var(--faceletBorder) solid black;
	font-size: 4em;
	text-align: center;
	border-radius: var(--borderRadius);
	background-color: #ff0000;
	transition: var(--transition);
	filter: saturate(90%) brightness(90%);
	aspect-ratio: 1/1;
}

.faceletRed:hover {
	filter: saturate(100%) brightness(100%);
}



.faceGreen {
	display: flex;
	height: calc((var(--faceletSize) + var(--faceletBorder)*2)*2);
	width: calc((var(--faceletSize) + var(--faceletBorder)*2)*2);
	flex-wrap: wrap;
	align-content: flex-start;
	aspect-ratio: 1/1;
}

.faceletGreen {
	width: var(--faceletSize);
	height: var(--faceletSize);
	border: var(--faceletBorder) solid black;
	font-size: 4em;
	text-align: center;
	border-radius: var(--borderRadius);
	background-color: #00ff00;
	transition: 0.3s;
	filter: saturate(90%) brightness(90%);
	aspect-ratio: 1/1;
}

.faceletGreen:hover {
	filter: saturate(100%) brightness(100%);
}



.faceYellow {
	display: flex;
	height: calc((var(--faceletSize) + var(--faceletBorder)*2)*2);
	width: calc((var(--faceletSize) + var(--faceletBorder)*2)*2);
	flex-wrap: wrap;
	align-content: flex-start;
	aspect-ratio: 1/1;
}

.faceletYellow {
	width: var(--faceletSize);
	height: var(--faceletSize);
	border: var(--faceletBorder) solid black;
	font-size: 4em;
	text-align: center;
	border-radius: var(--borderRadius);
	background-color: #ffff00;
	transition: 0.3s;
	filter: saturate(90%) brightness(90%);
	aspect-ratio: 1/1;
}

.faceletYellow:hover {
	filter: saturate(100%) brightness(100%);
}

.faceBlank {
	display: flex;
	height: calc((var(--faceletSize) + var(--faceletBorder)*2)*2);
	width: calc((var(--faceletSize) + var(--faceletBorder)*2)*2);
	aspect-ratio: 1/1;
}



.faceWhite {
	display: flex;
	height: calc((var(--faceletSize) + var(--faceletBorder)*2)*2);
	width: calc((var(--faceletSize) + var(--faceletBorder)*2)*2);
	flex-wrap: wrap;
	align-content: flex-start;
	aspect-ratio: 1/1;
}

.faceletWhite {
	width: var(--faceletSize);
	height: var(--faceletSize);
	border: var(--faceletBorder) solid black;
	font-size: 4em;
	text-align: center;
	border-radius: var(--borderRadius);
	background-color: #ffffff;
	transition: 0.3s;
	filter: saturate(90%) brightness(90%);
	aspect-ratio: 1/1;
}

.faceletWhite:hover {
	filter: saturate(100%) brightness(100%);
}



.faceOrange {
	display: flex;
	height: calc((var(--faceletSize) + var(--faceletBorder)*2)*2);
	width: calc((var(--faceletSize) + var(--faceletBorder)*2)*2);
	flex-wrap: wrap;
	align-content: flex-start;
	aspect-ratio: 1/1;
}

.faceletOrange {
	width: var(--faceletSize);
	height: var(--faceletSize);
	border: var(--faceletBorder) solid black;
	font-size: 4em;
	text-align: center;
	border-radius: var(--borderRadius);
	background-color: #fc6600;
	transition: 0.3s;
	filter: saturate(90%) brightness(90%);
	aspect-ratio: 1/1;
}

.faceletOrange:hover {
	filter: saturate(100%) brightness(100%);
}



.faceBlue {
	display: flex;
	height: calc((var(--faceletSize) + var(--faceletBorder)*2)*2);
	width: calc((var(--faceletSize) + var(--faceletBorder)*2)*2);
	flex-wrap: wrap;
	align-content: flex-start;
	aspect-ratio: 1/1;
}

.faceletBlue {
	width: var(--faceletSize);
	height: var(--faceletSize);
	border: var(--faceletBorder) solid black;
	font-size: 4em;
	text-align: center;
	border-radius: var(--borderRadius);
	background-color: #0000ff;
	transition: 0.3s;
	filter: saturate(90%) brightness(90%);
	aspect-ratio: 1/1;
}

.faceletBlue:hover {
	filter: saturate(100%) brightness(100%);
}



.faceBlank {
	display: flex;
	height: calc((var(--faceletSize) + var(--faceletBorder)*2)*2);
	width: calc((var(--faceletSize) + var(--faceletBorder)*2)*2);
	aspect-ratio: 1/1;
}

.faceletBlank {
	width: var(--faceletSize);
	height: var(--faceletSize);
	border: 2px solid black;
	aspect-ratio: 1/1;
}

.button {
	text-align: center;
	height: 86px;
	width: 172px;
	background-color: #0053c7;
	border: none; 
	border-radius: 15px;
	font: 1.5em "Fira Sans", sans-serif;
	transition: var(--borderRadius);
	box-shadow: 0 10px #0047ab;
	transition: 0.3s;
}

.button:hover {
	background-color:#0089d9;
	background: var(--td-background-color);
}


.moveButton {
	text-align: center;
	height: 50px;
	width: 66px;
	background-color: #0053c7;
	border: none; 
	border-radius: 15px;
	font: 1.5em "Fira Sans", sans-serif;
	transition: var(--borderRadius);
	box-shadow: 0 10px #0047ab;
	transition: 0.3s;
}

.moveButton:hover {
	background-color:#0089d9;
	background: var(--td-background-color);
}


.moveButtons {
	display: flex;
	height: 62px;
	width: 100%;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-evenly;
	row-gap: 15px;
}


.buttons {
	display: flex;
	height: 98px;
	width: 100%;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-evenly;
	row-gap: 15px;
}


#images {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: #000000;
	justify-content: center;
	align-content: flex-start;
	row-gap: 5em;
	column-gap: 5em;
	color: #ffffff;
	font: 1.5em "Fira Sans", sans-serif;
}
